/* COLOR PROPERTIES */
/* Color properties responsible for the color text  */
/* color background responsible for the background color */

/* when we use images we use the emmet (the shortcut) background instead of background-color ie
#two{
 color: blue;
 background:blueviolet ;
}
*/
/* but generally for background we use the emmet background-color */

#first{
 color: aqua;
 background-color: bisque;
}

#two{
 color: blue;
 background:blueviolet ;
}

/* COLOR NAMES */
* RGB RED GREEN BLUE 0-255 */
#first{
 color: rgb(255,0,0);
/*  this will be red */
 background-color: rgb(0, 0, 0);
}

#two{
 color: rgb(0,255,0);
/*  this wiil green */
 background:rgb(0, 0, 0) ;
}

#three{
 color: rgb(100, 50, 20);
 background: rgb(0, 0, 99);
}
body{
 background: rgb(15, 210, 150);
}
