/* COLOR PROPERTIES */
/* Color properties responsible for the color text  */
/* color background responsible for the background color */

/* when we use images we use the emmet (the shortcut) background instead of background-color ie
#two{
 color: blue;
 background:blueviolet ;
}
*/
/* but generally for background we use the emmet background-color */

#first{
 color: aqua;
 background-color: bisque;
}

#two{
 color: blue;
 background:blueviolet ;
}

/* COLOR NAMES */
* RGB RED GREEN BLUE 0-255 */
#first{
 color: rgb(255,0,0);
/*  this will be red */
 background-color: rgb(0, 0, 0);
}

#two{
 color: rgb(0,255,0);
/*  this wiil green */
 background:rgb(0, 0, 0) ;
}

#three{
 color: rgb(100, 50, 20);
 background: rgb(0, 0, 99);
}
body{
 background: rgb(15, 210, 150);
}
/* END */


/* RGBA 0-1 OPACITY AND TRANSPARENCY */
/* The values are from 0 to 1 */
#first{
 color:rgb(100,123,56);
 background: rgba(0, 0, 0, 0.5);
}
#two{
 color:rgb(20,123,200);
 background: rgba(0, 0, 0, 0.25);
}
body{
 background: rgba(220, 20, 100, 0.33);
}
/* END */

/* 
HSL-(research)
HEX VALUES #RRGGBB
Hex values represents not just numbers but letters from A to F where A(10) B(11) C(12) D(13) E(14) and F(15) 
for example you would want to write red it would go as follows
#FF0000-RED, this is because FF represents the hightest values of the rgb ,255 , so thats why we start with FF.

Hex values the maximum is 15.
The values are 6 characters, more than that will give a syntax error
coolors.com- for more colors

#00FF00- GREEN
*/


#first{
 color: #ff0000;
 background: #000 ;
}

#two{
 color:rgb(20,123,200);
 background: #00FF00
}

#three{
 color: #0000FF;
 background: #F15025
}


